* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

a {
    color: #5f5f5f;
    text-decoration: none;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease;
    -o-transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease;
    transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease;
}

/* Navigation */
nav.navbar.navbar-inverse.navbar-fixed-top.jb-header-navigation {
    background-color: #ffffff;
    border-bottom: 1px solid #2a8391;
    padding: 10px 0;
}

nav.navbar.navbar-inverse.navbar-fixed-top.jb-header-navigation .jb-header-container .jb-navigation-list li a {
    color: #53565A;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

nav.navbar.navbar-inverse.navbar-fixed-top.jb-header-navigation .jb-header-container .jb-navigation-list li:hover:after  {
    width: 100%;
    display: block;
    height: 2px;
    background-color: #315B9D;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

nav.navbar.navbar-inverse.navbar-fixed-top.jb-header-navigation .jb-header-container .jb-navigation-list li.active a {
    background: transparent;
}

nav.navbar.navbar-inverse.navbar-fixed-top.jb-header-navigation .jb-header-container .jb-navigation-list li.active:after  {
    width: 100%;
    display: block;
    height: 2px;
    background-color: #315B9D;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

.jb-header-navigation .jb-header-container .navbar-header a.navbar-brand {
    padding: 3px 15px;
}

.jb-header-navigation .jb-header-container .navbar-header a.navbar-brand  img {
	height: 45px;
	width: 45px;
	display: block;
}

/* Main Section */
section.jb-main-content {
	min-height: 1000px;
    height: auto;
    display: block;
    margin-top: 71px;
	background-color: #F4F4F4;
}

section.jb-main-content .jb-slider-container {
	margin: 0 auto;
	display: block;
	height: auto;
	background: white;
}

section.jb-main-content .jb-content-container {
    background-color: #f4f4f4;
    padding: 20px 0;
}

section.jb-main-content .jb-videos-container {
	background-color: #fff;
    padding: 20px 0;
}

section.jb-main-content .jb-testemonials-container {
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.jb-main-content .jb-articles-category-wrapper {
    background-color: #f4f4f4;
    padding: 20px 0;
}

section.jb-main-content .jb-about-us-wrapper {
    background-color: #f4f4f4;
    padding: 20px 0;
}

section.jb-main-content .jb-contact-wrapper {
    background-color: #f4f4f4;
    padding: 20px 0;
}


/* Articles container elements styling */
section.jb-main-content .jb-content-container .jb-articles-container h2.custom-title-articles {
	margin-top: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #008391;
    position: relative;
    letter-spacing: 3px;
    line-height: 1.7;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 25px;
    margin-bottom: 50px;
   	background: url(../images/brand-icon.png) top left no-repeat;
    background-size: 45px;
}

section.jb-main-content .jb-content-container .jb-articles-container h2.custom-title-articles:before {
	position: absolute;
    bottom: 0;
    content: "";
    width: 25px;
    height: 3px;
	background: #2a8391;
}

section.jb-main-content .jb-content-container .jb-articles-container h2.custom-title-articles .first {
	color: #454545;
	font-weight: bold;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item  {
	margin-bottom: 25px;
	text-align: center;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item:nth-of-type(4n + 1) {
    clear: left;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap {
    background: #ffffff;
	border: 1px solid transparent;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap:hover {
	border: 1px solid #2a8391 !important;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .icon {
    text-align: center;
    position: absolute;
    top: -25px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .icon i {
    display: inline-block;
    font-size: 22px;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 48px;
    box-shadow: 3px 6px 6px rgba(0,0,0,.25);
    background-color: #008391!important;
    z-index: 99;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-featured {
    height: 110px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-featured:before {
	content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    padding-bottom: 17%;
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(82deg);
    -webkit-transform: skewX(82deg);
    transform: skewX(82deg);
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-featured:after {
	content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    padding-bottom: 17%;
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-82deg);
    -webkit-transform: skewX(-82deg);
    transform: skewX(-82deg);
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-featured a img {
	vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-content h3.item-title {
	text-transform: uppercase;
    margin: 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #454545;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-content h3 a:hover {
	color: #fe6367;
	text-decoration: none;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-content .info span {
	display: block;
    margin-bottom: 25px;
    color: #928f8f;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-content .learn-more .btn-darker {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    background: #e7e7e7;
    text-transform: uppercase;
    padding: 0.7142857142857143em 3em;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: border-color color 0.2s ease;
    -o-transition: border-color color 0.2s ease;
    transition: border-color color 0.2s ease;
    background: #454545;
	padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #ffffff;
	text-decoration: none;
}

section.jb-main-content .jb-content-container .jb-articles-container .loop-item .item-wrap .item-content .learn-more .btn-darker:hover {
	border-color: #fe6367;
    background: #fe6367;
	padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #ffffff;
}

/* Videos container elements styling */
section.jb-main-content .jb-videos-container .jb-video-container h2.custom-title-videos {
	margin-top: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #008391;
    position: relative;
    letter-spacing: 3px;
    line-height: 1.7;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    background: url(../images/brand-icon.png) top left no-repeat;
    background-size: 45px;
}

section.jb-main-content .jb-videos-container .jb-video-container h2.custom-title-videos:before {
	position: absolute;
    bottom: 0;
    content: "";
    width: 25px;
    height: 3px;
	background: #2a8391;
}

section.jb-main-content .jb-videos-container .jb-video-container h2.custom-title-videos .first {
	color: #454545;
	font-weight: bold;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop {
	position: relative;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel.slide.fade {
    opacity: 1;
    filter: alpha(opacity=100);
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner {
	margin: 0;
    width: auto;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active {
	opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 1;
    display: block;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active:hover {
	opacity: 1;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active.jb-active {
	opacity: 1;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active.jb-active .jb-video-links {
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active a {
	position: relative;
	float: left;
    width: 100%;
    margin-bottom: 1.0714285714285714em;
    background: #f4f4f4;
    padding: 10px 30px 10px 80px;
    font-size: 1.2857142857142858em;
    color: #fe6367;
    height: 70px;
	text-decoration: none;
	cursor: pointer;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active a .icon {
	width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    background: #fe6367;
    color: #ffffff;
    font-size: 1.2857142857142858em;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active a .thumbnail-content {
	font-size: 14px;
    color: #5f5f5f;
    display: block;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content {
	margin-top: -180px;
	opacity: 1;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item {
	opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active {
	opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
    display: block;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap {
	position: relative;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap {
	position: relative;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured {
	float: left;
	width: 555px;
    height: 435px;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured a {
	color: #5f5f5f;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured a.jb-video-image {
	display: block;
	text-align: center;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured a.jb-video-image.jb-hide {
	display: none;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured .jb-video-iframe {
	display: block;
	height: 100%;
	width: 100%;
} 

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured .jb-video-iframe.jb-hide {
	display: none;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured a img {
	border: 0;
    height: auto;
    width: auto;
    margin: 0 auto;
    max-width: 555px;
    max-height: 420px;
    vertical-align: middle;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content {
    padding: 10px 0;
    padding-left: 80px;
    background: #f4f4f4;
    max-height: 70px;
    position: relative;
    float: left;
    width: 100%;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .icon {
	width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    background: #fe6367;
    color: #ffffff;
    font-size: 18px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    float: left;
	cursor: pointer;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-title {
	font-size: 1.2857142857142858em;
    color: #fe6367;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-title a {
	color: #454545;
    font-weight: bold;
	text-decoration: none;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-title a:hover {
	color: #fe6367;
}

section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-excerpt {
	margin-top: 7px;
}


/* Testemonials elements styling */
section.jb-main-content .jb-testemonials-container .row.content {
	padding-top: 20px;
    padding-bottom: 20px;
}

section.jb-main-content .jb-testemonials-container .jb-testemonials-img-wrapper img {
	vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

section.jb-main-content .jb-testemonials-container .jb-testemonials-quote-wrapper .testimonial-content {
	padding-left: 50px;
    position: relative;
}

section.jb-main-content .jb-testemonials-container .jb-testemonials-quote-wrapper .testimonial-content:before {
	content: '\201C';
    position: absolute;
    top: -60px;
    left: -5px;
    font-size: 120px;
    color: #fe6367;
    line-height: 150%;
    font-weight: bold;
}

section.jb-main-content .jb-testemonials-container .jb-testemonials-quote-wrapper .testimonial-content p.text {
	font-size: 17px;
    font-style: italic;
    width: 75%;
    color: #5f5f5f;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: normal;
}

section.jb-main-content .jb-testemonials-container .jb-testemonials-quote-wrapper .testimonial-content p .text-primary {
	color: #2a8391;
}

a.go-to-top {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    bottom: 72px;
    opacity: 0;
    filter: alpha(opacity=0);
    right: -60px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    color: #fff;
    font-size: 40px;
    height: 50px;
    line-height: 1;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 100;
    visibility: hidden;
    cursor: pointer;
}

a.go-to-top:hover {
    color: #f56368;
}

a.go-to-top.on {
    opacity: 0.8;
    filter: alpha(opacity=80);
    visibility: visible;
    right: 20px;
}


/* POSTS PAGE: Main content - articles */
section.jb-main-content .jb-articles-category-wrapper h3.section-title {
    font-size: 24px;
    letter-spacing: .1em;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 400;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container h2.custom-title-articles {
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #008391;
    position: relative;
    letter-spacing: 3px;
    line-height: 1.7;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    background-size: 45px;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container h2.custom-title-articles:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 25px;
    height: 3px;
    background: #2a8391;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container h2.custom-title-articles .first {
    color: #454545;
    font-weight: bold;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item  {
    margin-bottom: 25px;
    text-align: center;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap {
    background: #ffffff;
    border: 1px solid transparent;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap:hover {
    border: 1px solid #2a8391 !important;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .icon {
    text-align: center;
    position: absolute;
    top: -25px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .icon i {
    display: inline-block;
    font-size: 22px;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 48px;
    box-shadow: 3px 6px 6px rgba(0,0,0,.25);
    background-color: #008391!important;
    z-index: 99;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-featured {
    height: 110px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-featured:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    padding-bottom: 17%;
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(82deg);
    -webkit-transform: skewX(82deg);
    transform: skewX(82deg);
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-featured:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    padding-bottom: 17%;
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-82deg);
    -webkit-transform: skewX(-82deg);
    transform: skewX(-82deg);
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-featured a img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-content h3.item-title {
    text-transform: uppercase;
    margin: 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #454545;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-content h3 a:hover {
    color: #fe6367;
    text-decoration: none;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-content .info span {
    display: block;
    margin-bottom: 25px;
    color: #928f8f;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-content .learn-more .btn-darker {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    background: #e7e7e7;
    text-transform: uppercase;
    padding: 0.7142857142857143em 3em;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: border-color color 0.2s ease;
    -o-transition: border-color color 0.2s ease;
    transition: border-color color 0.2s ease;
    background: #454545;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}

section.jb-main-content .jb-articles-category-wrapper .jb-articles-container .loop-item .item-wrap .item-content .learn-more .btn-darker:hover {
    border-color: #fe6367;
    background: #fe6367;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #ffffff;
}



/* ##### PAGES SECTION ##### */

/* ABOUT US PAGE*/
section.jb-main-content .jb-about-us-wrapper #about-about {
    padding: 4rem;
    margin-bottom: 2rem;
}

section.jb-main-content .jb-about-us-wrapper #about-about h1 {
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    margin: 1.5rem 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #474747;
}

section.jb-main-content .jb-about-us-wrapper #about-about p.text-goal {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 18px;
}

section.jb-main-content .jb-about-us-wrapper #about-about h2 {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 2rem;
    text-align: center;
}

section.jb-main-content .jb-about-us-wrapper #about-about .jb-about-us-image {
    width: 100%;
    text-align: center;
}

section.jb-main-content .jb-about-us-wrapper #about-about .text-justify {
    max-width: 74rem;
    margin-right: auto;
    text-align: justify;
    margin-left: auto;
    font-size: 15px;
}

section.jb-main-content .jb-about-us-wrapper #about-locations {
    padding: 4rem;
    margin-bottom: 2rem;
}

section.jb-main-content .jb-about-us-wrapper #about-locations h2.jb-locations-text {
    margin-bottom: 4rem;
    font-size: 32px;
    color: #9d9d9d;
    line-height: 1.25;
    font-weight: normal;
    text-align: center;
    font-family: "PT Sans",sans-serif;
}

section.jb-main-content .jb-about-us-wrapper #about-locations .jb-location-iframe {
    height: 370px;
    position: relative;
    overflow: hidden;
}

section.jb-main-content .jb-about-us-wrapper #about-locations iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

/* CONTACT PAGE*/
section.jb-main-content #contact {
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    height: 550px;
    color : #008391;
}

section.jb-main-content #contact .contact-section {
    padding-top: 40px;
}

section.jb-main-content #contact .contact-section .col-md-6{
    width: 50%;
}

section.jb-main-content #contact .form-line {
    border-right: 1px solid #B29999;
}

section.jb-main-content #contact .form-group {
    margin-top: 10px;
}

section.jb-main-content #contact .form-group label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

section.jb-main-content #contact .form-group .form-control {
    font-size: 1.3em;
    color: #080808;
}

section.jb-main-content #contact .form-group textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

section.jb-main-content #contact .form-group .submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}

/* Under-Construction page */
section.jb-main-content .jb-under-construction-page {
    background-image: url(https://colorlib.com/etc/cs/comingsoon_03/images/bg01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

section.jb-main-content .jb-under-construction-page .center-content {
    background-color: rgba(255,255,255,0.8);
    padding-right: 175px;
    padding-left: 175px;
    padding-bottom: 175px;
    padding-top: 175px;
    border-radius: 18px;
}

section.jb-main-content .jb-under-construction-page .center-content p {
    font-size: 25px;
    color: #999999;
    line-height: 1.2;
    text-align: center;
}

/* POST SECTION */
#jb-posts-section {
    padding: 0 0 30px 0;
}

#jb-posts-section .jb-post-breadcrumbs {
    margin: 10px 0 20px 0;
    color: #54575a;
    font-size: 13px;
    font-style: italic;
    padding: 0 30px;
}

#jb-posts-section .jb-post-breadcrumbs a {
    cursor: pointer;
}

#jb-posts-section .jb-post-breadcrumbs a.breadcrumbs-home {
    color: #008391;
}

#jb-posts-section .jb-post-breadcrumbs a.post-title:hover {
    color: #008391;
}

#jb-posts-section .jb-post-image {
    max-height: 300px;
    margin: 0 0 30px 0;
}

#jb-posts-section .jb-post-image img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-height: 300px;
}

#jb-posts-section .jb-post-video {
    height: 435px;
    max-height: 435px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

#jb-posts-section .jb-post-video video {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#jb-posts-section .jb-post-video .jb-overlay {
    background: #ccc;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#jb-posts-section .jb-post-title {
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
}

#jb-posts-section .jb-post-title h3 {
    font-style: normal;
    color: #008391;
    text-align: left;
    font-family: Sans;
    font-size: 39px;
    line-height: 52px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#jb-posts-section .jb-post-short-description {
    text-align: left;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

#jb-posts-section .jb-post-short-description p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#jb-posts-section .jb-post-short-description p span:hover {
    color: #008391;
    cursor: pointer;
}

#jb-posts-section .jb-post-long-description {
    font-size: 17px;
    font-family: Sans;
    margin-bottom: 30px;
}

#jb-posts-section  #respond {
    padding-top: 15px;
    position: relative;
}

#jb-posts-section  #respond #reply-title {
    background: none;
    padding-left: 0;
    margin-bottom: 20px;
    letter-spacing: 0px;
    font-size: 32px;
    line-height: 42px;
    font-style: normal;
    text-transform: none;
    font-family: Sans;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 0;
}

#jb-posts-section  #respond  form .comment-form-comment label {
    display: block;
    color: #7d7d7d;
    font-weight: normal;
}

#jb-posts-section  #respond form .comment-form-comment textarea#comment {
    width: 100% !important;
    max-width: 100%;
    border-color: #ccc;
}

#jb-posts-section  #respond form .comment-form-author label {
    display: block;
    color: #7d7d7d;
    font-weight: normal;
}

#jb-posts-section  #respond form .comment-form-author input {
    width: 50% !important;
    max-width: 50%;
    border: 1px solid #ccc;
    height: 30px;
}

#jb-posts-section  #respond form .comment-form-email label {
    display: block;
    color: #7d7d7d;
    font-weight: normal;
}

#jb-posts-section  #respond form .comment-form-email input {
    width: 50% !important;
    max-width: 50%;
    border: 1px solid #ccc;
    height: 30px;
}

#jb-posts-section  #respond form .form-submit  input {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
    color: #fff !important;
    background-color: #008391;
    border: 1px solid #008391;
    border-color: #008391 #008391 #008391 #008391;
    border-radius: 4px;
}

#jb-posts-section #respond .jb-form-overlay {
    display: none;
}

#jb-posts-section #respond:hover .jb-form-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #e0e0e0;
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: normal;
    font-family: "Sans";
}

#jb-posts-section #respond:hover .jb-form-overlay p {
    top: calc(50% - 30px);
    left: calc(50% - 100px);
    position: absolute;
    color: black;
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts {
    padding: 15px;
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    color: #333;
    font-family: "Sans";
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts #jb-recent-posts-post {
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts li {
    list-style: none;
    margin-left: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts li i {
    margin-right: 10px;
    font-size: 15px;
    color: #008391;
}

#jb-posts-section .jb-posts-right-column .jb-recent-posts li:hover a {
    color: #008391;
}



/* Responsive media queries */
@media (min-width: 1025px) {
	header .jb-header-container {
		width: 70%;
		margin: 0 auto;
	}
	
	section.jb-main-content {
		width: 100%;
	}
	
	.jb-slider-container .jb-slider-container-image {
		display: none;
	}
} 

@media (max-width: 1024px) {
	.jb-slider-container #thumbnail-preview-indicators {
		display: none;
	}
	
	.jb-slider-container .jb-slider-container-image {
		display: block;
		text-align: center;
		padding: 20px 0;
	}
	
	.jb-slider-container .jb-slider-container-image img {
		width: auto;
		height: auto;
		max-height: 300px;
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

@media (max-width: 1024px) and (min-width: 992px) {
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-featured {
		float: left;
		width: 445px;
		height: 420px;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-featured a img {
		max-width: 445px;
		max-height: 400px;
	}
}

@media (max-width: 991px) {
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
    .jb-header-navigation .jb-header-container .jb-navigation-list {
        float: right;
    }
}

@media (max-width: 767px) {
	section.jb-main-content {
		padding: 50px 20px 20px 20px;
	}
	
	section.jb-main-content .jb-content-container .jb-articles-container h2.custom-title-articles {
		text-align: center;
		font-size: 25px;
		background-position: top;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container h2.custom-title-videos {
		text-align: center;
		font-size: 25px;
		background-position: top;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active a {
		font-size: 14px;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop .loop-thumb-wrap .carousel-inner .item.active a .thumbnail-content {
		font-size: 12px;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap  .loop-item-featured {
		width: 100%;
    	height: 100%;
    	margin-bottom: 15px;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-featured a img {
		border: 0;
		height: auto;
		width: auto;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-title {
		font-size: 14px;
	}
	
	section.jb-main-content .jb-videos-container .jb-video-container .videos.posts-loop #videos-content .carousel-inner .item.active .loop-item-wrap .loop-item-content .loop-item-excerpt {
		font-size: 12px;
	}
}

    

